section{
    flex:3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:2em;
    padding:2em;
    overflow: auto;
}
section>div{
    border: 1px solid var(--unnamed-color-35a9a9);
    background: transparent linear-gradient(180deg, #318B914D 0%, #37B1AF4D 17%, #4CD1C64D 36%, #80DFD24D 52%, #BCE8E14D 75%, #FFF2F24D 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #35A9A9;
    border-radius: 40px;
}
section>div>img{
    height: 50%;
    border-radius:100%;
    width: 100%;
    object-fit: cover;
}

section>div>div{
    height: 50%;
}

section>div>div>h2{
    color:#35A9A9;
    text-align: center;
}

section>div>div>p{
    color:grey;
    text-align: center;
    font-weight: bold;
}

section>div>div>div{
    display:flex;
    justify-content: space-around;
    color:#FFEB68;
    margin:auto;

}
main{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
@media only screen and (max-device-width: 500px) {
    section>div>img{
        width: 100%;
        height: 50%;
        border-radius: 30%;

    }
    section>div>div>h2{
        font-size: 2em;
    }
    section>div>div>p{
        font-size: 1.5em;
    }
    section>div>div>div>i{
        font-size: 2em;
    
    }

}


