/*
nadpisanie form do dodania info
*/
section{
    display:flex;
    flex-direction: column;
    overflow: auto;
}
section>form{
    display:flex;
    flex-direction:column;
    border: 1px solid var(--unnamed-color-35a9a9);
    background: transparent linear-gradient(180deg, #318B914D 0%, #37B1AF4D 17%, #4CD1C64D 36%, #80DFD24D 52%, #BCE8E14D 75%, #FFF2F24D 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #35A9A9;
    border-radius: 40px;
    width: 80%;
    margin:auto;

}
h1,section>form>a{
    color:#35A9A9;
    margin-bottom: 0.5em;
    text-align: center;
}
section>form>a{
    font-size:1.5em;
    color:grey;
    font-weight: bold;
}
section>form>textarea, section>form>input{
    border: 1px solid var(--unnamed-color-35a9a9);
    background-color: white;
    border: 1px solid #35A9A9;
    border-radius: 40px;
    width: 60%;
    text-align: center;
    color: var(--unnamed-color-35a9a9);
    font: normal normal normal Rockwell Nova;
    letter-spacing: 0px;
    color: #35A9A9;
    font-size: 2em;
    margin:0.5em auto;
}
section>form>input{
    width: 30%;
    font-size: 1.5em;
}
section>form>#new{
    width:40%;
    border:none;
    background: none;
    border-radius: 0px;
    color:grey;
}
section>form>button{
    width:30%;
    margin:1em auto;
    background: #35A9A9 0% 0% no-repeat padding-box;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    text-align: center;
    letter-spacing: 0.7px;
    color: var(--unnamed-color-35a9a9);
    font: normal normal normal Rockwell Nova;
    color: #FFEB68;
    font-weight: bold;
    font-size: 1.5em;
}

/*
adding Photo
 */

.photo{
    display: grid;
    grid-template-rows: repeat(3,1fr);
}
.photo>h1{
    grid-row: 1/2;
}
.photo>form{
    grid-row:2/3;
    height: 100%;
}
.photo>form>input{
    width:50%;
    border:none;
    border-radius: 0px;
    background-color: transparent;
}
