
.no-valid {
    border: 3px solid red;
    border-radius: 1em;
    box-shadow: 0 0 0.2em red;
    outline: none;
}

body {
    margin: 0;
}
.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,1fr);
    justify-content: center;
    align-items: center;
    background: transparent linear-gradient(180deg, #318B91 0%, #37B1AF 17%, #4CD1C6 36%, #80DFD2 52%, #FFF2F2 100%) 0% 0% no-repeat padding-box;
}
.logo {
    grid-column: 1;
    grid-row: 2/4;
    margin:auto;
}
.login-container {
    grid-column : 2;
    grid-row: 2/4;
    margin:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    background: var(--unnamed-color-ffffff73) 0% 0% no-repeat padding-box;
    border: 2px solid var(--unnamed-color-ffffff);
    background: #FFFFFF73 0% 0% no-repeat padding-box;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
}
a{
    color:#35A9A9;
    font-weight: bold;
}
#login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#imie{
    grid-column: 1/2;
    
}
#haslo{
    grid-column: 1/2;
}
#utworz{
    margin:1em;
    width: 70%;
    font-size: 1em;
}
i1{
    color: #FFEB68;
    grid-column: 2/3;
    grid-row: 1/2;

}
i2{
    color: #FFEB68;
    grid-column: 2/3;
    grid-row: 2/3;

}

button, .button1{
    text-decoration: none;
    background: var(--unnamed-color-ffeb68) 0% 0% no-repeat padding-box;
    border: 2px solid var(--unnamed-color-35a9a9);
    background: #FFEB68 0% 0% no-repeat padding-box;
    border: 2px solid #35A9A9;
    border-radius: 40px;
    width: 50%;
    margin: 1em;
    line-height: 2em;
    font : normal normal normal 15px/50px Rockwell Nova;
    color: var(--unnamed-color-35a9a9);
    text-align: center;
    letter-spacing: 0px;
    color: #35A9A9;
}

.button1{
    width:70%;
}
input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    padding: 1em;
    margin: 1em;
    width: 50%;
}

li{
    color:#35A9A9;
    text-decoration: none;
    display: inline-block;
    list-style-type: none;
}
ul{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}


@media only screen and (max-device-width: 420px) {
    .container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3,1fr);
    }
    * {
        font-size: 36px;
    }
    .login-container,
    .logo {
        
        margin:auto;
    }
    .logo{
        grid-column: 1/2;
        grid-row: 1/2;
        justify-self: center;
        align-items: center;
    }
    .login-container{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    form {
        margin: auto;
    }
    .button1{
        font-size: 1em;
    }

}