#zdj{
    height: 60%;
    border-radius:50%;
    width: 60%;
    object-fit: cover;
    margin:1em;
}
section{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:2em;
    padding:2em;
    overflow: auto;
}

.content1, .content2, .content3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#class{
    flex:4;
    display:flex;
    flex-direction: column;
    border: 1px solid var(--unnamed-color-35a9a9);
    background: transparent linear-gradient(180deg, #318B914D 0%, #37B1AF4D 17%, #4CD1C64D 36%, #80DFD24D 52%, #BCE8E14D 75%, #FFF2F24D 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #35A9A9;
    border-radius: 18px 18px 0px 0px;

}
#title{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.def{
    display: flex;
    flex-direction: row;
}

#section{
    flex:5;
    display:grid;
    grid-template-columns:repeat(4,1fr) ;
    grid-template-rows: repeat(3,1fr);
    overflow: auto;
    background: var(--unnamed-color-ffeb68) 0% 0% no-repeat padding-box;
    background: var(--unnamed-color-ffeb68) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-35a9a9);
    background: #FFEB68 0% 0% no-repeat padding-box;
    border: 1px solid #35A9A9;
    border-radius: 0px 0px 18px 18px;
    height: 100%;
}
.math{
    height: 80%;
    border-radius:20%;
    width: 80%;
    object-fit: cover;
    margin:0.5em;
    border: 1px solid #35A9A9;
}
.def>a{
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 40px;
    border-width: thin;
    text-align: center;
    font: normal normal normal  Arial;
    font-size :1em;
    letter-spacing: 0px;
    color: #2699FB;
    margin:0.5em;
}
p{
    margin:auto;
    color:black;
    font-weight: bold;
    margin:1.5em;
}
#text0{
    grid-column: 1/5;
    grid-row:1/2;
    margin:auto;
    color:black;
    font-weight: bold;
}
#text1{
    grid-column: 1/2;
    grid-row: 2/3;
    margin:auto;
    line-height: 1em;
}
#text2{
    grid-column: 2/3;
    grid-row: 2/3;
    margin:auto;
    line-height: 1em;
}
#text3{
    grid-column: 3/4;
    grid-row: 2/3;
    margin:auto;
    line-height: 1em;
}
#text4{
    grid-column: 4/5;
    grid-row: 2/3;
    margin:auto;
    line-height: 1em;
}
#img1{
    grid-column: 1/2;
    grid-row: 3/4;
    margin:auto;
}
#img2{
    grid-column: 2/3;
    grid-row: 3/4;
    margin:auto;
}
#img3{
    grid-column: 3/4;
    grid-row: 3/4;
    margin:auto;
}
#img4{
    grid-column: 4/5;
    grid-row: 3/4;
    margin:auto;
}

#section>a{
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius:10%;
    border-width: thin;
    text-align: center;
    font: normal normal normal  Arial;
    font-size:0.8em;
    width:90%;
    margin:auto;
    letter-spacing: 0px;
    color: #2699FB;
    border: 1px solid #35A9A9;
}
@media only screen and (max-device-width: 1200px) {
    section{
        display:grid;
        grid-template-columns: repeat(2,1fr);
    }
}

@media only screen and (max-device-width: 500px) {
    section{
        display:grid;
        grid-template-columns: repeat(1,1fr);
    }
    #zdj{
        height: 70%;
        width: 70%;
        margin:0.5em;
    }
    p{
        margin:1em;
        font-size: 2em;
    }
    #section>a{
        font-size: 1em;
    }
    .def>a{
        font-size :1.7em;
        margin:auto;
    }
    #section>a{
        font-size:1.4em;
        margin:auto;
        height: 70%;
        width:90%;
        margin:auto;
        display:grid;
        align-items: center;
    }
    .math{
        height: 90%;
        width: 90%;
        margin:1em;

    }
    .def{
        margin:2em;
    }
}

