section{
    display:flex;
    flex-direction: column;
    overflow: auto;
}

section>div>div{
    border: 1px solid var(--unnamed-color-35a9a9);
    background: transparent linear-gradient(180deg, #318B914D 0%, #37B1AF4D 17%, #4CD1C64D 36%, #80DFD24D 52%, #BCE8E14D 75%, #FFF2F24D 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #35A9A9;
    border-radius: 40px;
    text-align: center;
    color: var(--unnamed-color-35a9a9);
    font: normal normal normal Rockwell Nova;
    letter-spacing: 0px;
    color: #35A9A9;
    font-size: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
}
section>div{
    width: 80%;
    margin:auto;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}
section> .button1, .button1{
    background: var(--unnamed-color-ffffff73) 0% 0% no-repeat padding-box;
    border: 2px solid var(--unnamed-color-ffffff);
    background: #35A9A9 0% 0% no-repeat padding-box;
    border:none;
    border-radius: 40px;
    text-align: center;
    letter-spacing: 0.7px;
    color: var(--unnamed-color-35a9a9);
    font: normal normal normal Rockwell Nova;
    color: #FFEB68;
    font-weight: bold;
    width:50%;
    margin:auto;
}
section>div>div>.button1{
    width:20%;
}

/* addnotes */


.notes-search, .notes-search>form {
    display: flex;
    flex-direction: column;
}
section>form>textarea, section>form>input{
    border: 1px solid var(--unnamed-color-35a9a9);
    background: transparent linear-gradient(180deg, #318B914D 0%, #37B1AF4D 17%, #4CD1C64D 36%, #80DFD24D 52%, #BCE8E14D 75%, #FFF2F24D 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #35A9A9;
    border-radius: 40px;
    width: 80%;
    text-align: center;
    color: var(--unnamed-color-35a9a9);
    font: normal normal normal Rockwell Nova;
    letter-spacing: 0px;
    color: #35A9A9;
    font-size: 2.5em;
    padding:0.5em;
    margin:auto;
}
section>form>input{
    margin-bottom: 0.5em;
}
h1{
    color: #35A9A9;
    font-size: 2em;
    margin:auto;
}
#notatka>a{
    color:grey;
}
#notatka>p{
    font-weight: bold;
    font-size: 2em;
}
button{
    background: var(--unnamed-color-35a9a9) 0% 0% no-repeat padding-box;
    border: 2px solid var(--unnamed-color-ffffff);
    background: #35A9A9 0% 0% no-repeat padding-box;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    margin-left: 1em;
    text-align: center;
    letter-spacing: 0.7px;
    color: var(--unnamed-color-35a9a9);
    font: normal normal normal Rockwell Nova;
    color: #FFEB68;
    font-weight: bold;
    width:20%;
    margin:auto;
    font-size: 1.5em;
}
nav>ul>li>form>button{
    font-size: 1em;
}
form{
    overflow:auto;
}
@media only screen and (max-device-width: 420px) {
    main>#title{
        margin-top: 1em;
        width:50%;
    }
    main>#title>a{
        font-size:3em;
    }
    main>section{
        flex:5;
    }
    section>a{
        font-size:3em;
    }
    section>.button1{
        width:80%;
    }
    #notatka>p, #notatka>a{
        font-size:3em;
    }

}
