section{
    display:flex;
    flex-direction: column;
    overflow: auto;
}
section>#first{
    display:flex;
    flex-direction: column;
    border: 1px solid var(--unnamed-color-35a9a9);
    background: transparent linear-gradient(180deg, #318B914D 0%, #37B1AF4D 17%, #4CD1C64D 36%, #80DFD24D 52%, #BCE8E14D 75%, #FFF2F24D 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #35A9A9;
    border-radius: 40px;
    width:60%;
    margin: 1em auto;
}
section>#first>img{
    height: 60%;
    border-radius:80%;
    width: 40%;
    object-fit: cover;
    margin:auto;
    margin-top:0.5em;
}
section>#first>#miejsca{
    display: flex;
    flex-direction: row;
    margin-right:0.5em;
}
section>#first>#miejsca>#miejsce{
    margin:auto;
}
section>#first>#dni{
    display: flex;
    flex-direction: row;
}
section>#first>div>a{
    color: var(--unnamed-color-35a9a9);
    text-align: left;
    font: normal normal normal Rockwell Nova;
    font-size: 1.5em;
    letter-spacing: 0px;
    color: #35A9A9;
}
section>#first>div>i{
    font-size:1.5em;
    color:#FFEB68;
    margin-left:0.5em;
    margin-right:0.5em;
}
section>#first>div>p, section>#first>a{
    color: var(--unnamed-color-35a9a9);
    text-align: left;
    font: normal normal normal Rockwell Nova;
    font-size: 1em;
    letter-spacing: 0px;
    color: grey;
    margin:auto;
    font-weight: bold;
}
section>#first>a{
    font-size: 1.5em;
}
.button1{
    background: var(--unnamed-color-ffffff73) 0% 0% no-repeat padding-box;
    border: 2px solid var(--unnamed-color-ffffff);
    background: #35A9A9 0% 0% no-repeat padding-box;
    border:none;
    border-radius: 40px;
    text-align: center;
    letter-spacing: 0.7px;
    color: var(--unnamed-color-35a9a9);
    font: normal normal normal Rockwell Nova;
    color: #FFEB68;
    font-weight: bold;
    width:50%;
}
section>#first>#wiadomosc>a, section>#first>#telefon>a{
    color:#FFEB68;
    font-size: 1em;
    margin-left:2em;
    text-align: center;
    margin-top:0.5em;
    margin-bottom:0.5em;
}
section>#first>#telefon>.button1{
    width:30%;
    
}
/*second*/
section>#second{
    display:flex;
    flex-direction: column;
    border: 1px solid var(--unnamed-color-35a9a9);
    background: transparent linear-gradient(180deg, #318B914D 0%, #37B1AF4D 17%, #4CD1C64D 36%, #80DFD24D 52%, #BCE8E14D 75%, #FFF2F24D 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #35A9A9;
    border-radius: 40px;
    width:80%;
    margin: 1em auto;
}
section>#second>a, section>#second>div>a{
    margin:auto;
    margin-left: 0.5em;
    font: normal normal normal Rockwell Nova;
    font-size: 1.5em;
    color: #35A9A9;
}
section>#second>div>textarea{
    border: 1px solid var(--unnamed-color-35a9a9);
    background:white;
    border: 1px solid #35A9A9;
    border-radius: 40px;
    text-align: center;
    color: var(--unnamed-color-35a9a9);
    font: normal normal normal Rockwell Nova;
    letter-spacing: 0px;
    color: #35A9A9;
    font-size: 1em;
}
section>#second>input{
    border: 1px solid var(--unnamed-color-35a9a9);
    background: white;
    border: 1px solid #35A9A9;
    border-radius: 40px;
    text-align: center;
    color: var(--unnamed-color-35a9a9);
    font: normal normal normal Rockwell Nova;
    letter-spacing: 0px;
    color: #35A9A9;
    font-size: 1em;
}
section>#second>div{
    display: grid;
    grid-template-rows: 30% 70%;
}
section>#second>div>#tresc{
    grid-row: 1/2;
    margin:auto;
}
section>#second>div>textarea{
    grid-row:2/3;
    width:50%;
    height:70%;
    margin:2em auto;
}
section>#second>a, section>#second>p{
    margin:auto;
}
section>#second>input{
    width:20%;
    margin:auto;
}
section>#second>p{
    color: var(--unnamed-color-35a9a9);
    font: normal normal normal Rockwell Nova;
    font-size: 1em;
    letter-spacing: 0px;
    color: grey;
    margin:auto;
    font-weight: bold;
}
