section{
    display:flex;
    flex-direction: column;
    overflow: auto;
}
section>#title{
    flex:0.5em;
}
section>#content{
    flex:3em;
    height: 60vh;
}
section>#content{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(5, 1fr);
    row-gap: 2em;
}
section>#content>p{
    grid-column:1/3 ;
    grid-row:1/2;
    margin:auto;
    color: var(--unnamed-color-35a9a9);
    font: normal normal normal Rockwell Nova;
    font-size: 2em;
    letter-spacing: 0px;
    color: #35A9A9;
    margin-top:1em;
}
section>div>#one{
    grid-column:1/2;
    grid-row: 2/4;
    margin:auto;
}
section>div>#three{
    grid-column:2/3;
    grid-row: 2/4;
    margin:auto;
}
section>div>#four{
    grid-column:1/3;
    grid-row: 4/6;
    margin:auto;
}

section>#content>a{
    border: 1px solid var(--unnamed-color-35a9a9);
    background: transparent linear-gradient(180deg, #318B914D 0%, #37B1AF4D 17%, #4CD1C64D 36%, #80DFD24D 52%, #BCE8E14D 75%, #FFF2F24D 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #35A9A9;
    border-radius: 40px;
    width: 80%;
    text-align: center;
    color: var(--unnamed-color-35a9a9);
    font: normal normal normal Rockwell Nova;
    letter-spacing: 0px;
    color: #35A9A9;
    font-size: 2em;
    padding:0.5em;
}
main>p{
    margin:auto;
    font: normal normal normal Rockwell Nova;
    color:grey;
    font-size:1em;

}
@media only screen and (max-device-width: 420px) {
    section>#content{
        display: flex;
        flex-direction: column;
    }
    section>#content>a{
        font-size: 2.5em;
    }
    section>#content>p{
        font-size:2em;
        margin-top:6em;
    }
    section>#content{
        row-gap: 10em;
    }
    main>p{
        font-size:2em;
    }
}