section{
    display:flex;
    flex-direction: column;
    overflow: auto;
}

section>#second>#ogloszenie{
    border: 1px solid var(--unnamed-color-35a9a9);
    background: transparent linear-gradient(180deg, #318B914D 0%, #37B1AF4D 17%, #4CD1C64D 36%, #80DFD24D 52%, #BCE8E14D 75%, #FFF2F24D 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #35A9A9;
    border-radius: 40px;
    text-align: center;
    color: var(--unnamed-color-35a9a9);
    font: normal normal normal Rockwell Nova;
    letter-spacing: 0px;
    color: #35A9A9;
    font-size: 1em;
}
/*second*/
section>#second{
    width: 70%;
    margin:auto;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}
section>#second>>#ogloszenie>a{
    color:grey;
    margin:0.5em auto;
}
section>#second>#ogloszenie>p{
    color: #35A9A9;
    font-weight: bold;
    font-size:2em;
}
section>#second>#ogloszenie{
    margin:1em;
    color: grey;
}
section>#title{
    font: normal normal normal Rockwell Nova;
    font-size:2em;
    color:grey;
    font-weight: bold;
    margin: 1.5em auto;
}
section>div>div>.button{
    background: var(--unnamed-color-35a9a9) 0% 0% no-repeat padding-box;
    border: 2px solid var(--unnamed-color-ffffff);
    background: #35A9A9 0% 0% no-repeat padding-box;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    text-align: center;
    letter-spacing: 0.7px;
    color: var(--unnamed-color-35a9a9);
    font: normal normal normal Rockwell Nova;
    color: #FFEB68;
    font-weight: bold;
    width:30%;
    font-size: 1.2em;
}
