section{
    display:flex;
    flex-direction: column;
    overflow: auto;
}
section>form{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:10% 10% 10% 10% 10% 20% 10% 10% 10%;
    row-gap: 1.5em;
}
section>form>a{
    grid-column: 1/5;
    grid-row: 1/2;
    font: normal normal normal Rockwell Nova;
    color: #35A9A9;
    font-size:1.5em;
    margin:auto;
}
section>form>#pcena{
    grid-column: 1/2;
    grid-row: 2/3;
}

section>form>#cena{
    grid-column: 2/3;
    grid-row: 2/3;
    width: 50%;
}
section>form>#pczas{
    grid-column: 1/2;
    grid-row: 3/4;
}
section>form>#czas{
    grid-column: 2/3;
    grid-row: 3/4;
    width: 50%;
}
section>form>#pmiejsce{
    grid-column: 1/2;
    grid-row: 4/5;
}
section>form>#miejsce1{
    grid-column: 2/3;
    grid-row: 4/5;
}
section>form>#miejsce2{
    grid-column: 3/4;
    grid-row: 4/5;
}
section>form>#miejsce3{
    grid-column: 4/5;
    grid-row: 4/5;
}
section>form>#ptytul{
    grid-column: 1/2;
    grid-row: 5/6;
}
section>form>#tytul{
    grid-column: 2/4;
    grid-row: 5/6;
}
section>form>#tresc{
    grid-column: 1/2;
    grid-row: 6/7;
}
section>form>textarea{
    grid-column: 2/4;
    grid-row: 6/7;
    overflow: auto;
    margin:auto;
    width:100%;
    height: 100%;
    margin-top:0;
    margin-bottom: 2em;
    overflow: auto;
}
section>form>#pdni{
    grid-column: 1/2;
    grid-row: 7/8;
}
section>form>#dni{
    grid-column: 2/4;
    grid-row:7/8;
}
section>form>#pzakres{
    grid-column: 1/2;
    grid-row: 8/9;
}
section>form>#zakres{
    grid-column: 2/4;
    grid-row: 8/9;
}
section>form>button{
    grid-column: 2/4;
    grid-row: 9/10;
    background: var(--unnamed-color-35a9a9) 0% 0% no-repeat padding-box;
    border: 2px solid var(--unnamed-color-ffffff);
    background: #35A9A9 0% 0% no-repeat padding-box;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    text-align: center;
    letter-spacing: 0.7px;
    color: var(--unnamed-color-35a9a9);
    font: normal normal normal Rockwell Nova;
    color: #FFEB68;
    font-weight: bold;
    width:40%;
    font-size: 1.4em;
    margin:auto;
}

section>form>p{
    font-size: 1.2em;
    color:grey;
    font-weight: bold;
    margin-left: 2em;
}

section>form>input, section>form>textarea{
    border: 1px solid var(--unnamed-color-35a9a9);
    background: transparent linear-gradient(180deg, #318B914D 0%, #37B1AF4D 17%, #4CD1C64D 36%, #80DFD24D 52%, #BCE8E14D 75%, #FFF2F24D 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #35A9A9;
    border-radius: 40px;
    width: 100%;
    text-align: center;
    color: var(--unnamed-color-35a9a9);
    font: normal normal normal Rockwell Nova;
    letter-spacing: 0px;
    color: #35A9A9;
    font-size: 1em;
    margin-left:0;
}

@media only screen and (max-device-width: 650px) {
    section>div>input, section>div>textarea, section>div>div>input{
        font-size: 2em;
        width: 100%;
        margin-left: 1em;
    }
    section>div>p, section>div>label, section>div>div>p, section>div>div>label{
        font-size: 2em;
        margin-left: 0;
    }
    section>#one{
        row-gap: 2.5em;
    }
    section>div>a{
        font-size:3em;

    }
    section>div>#day{
        display:grid;
        grid-template-columns: 40% 10% 20% 10% 20% ;
    }
    section>div>div>input{
        width: 60%;
    }
    section>div>#miejsce2{
        margin-left:0.5em;
    }
}