section{
    display:flex;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    overflow: auto;
}
section>img{
    height: 100%;
    border-radius:100%;
    width: 80%;
    object-fit: cover;
    grid-column:1/2;
    grid-row: 1/2;
    justify-self: center;

}
#info{
    display: flex;
    flex-direction: row;
    grid-column:2/4;
    grid-row:1/2;
    align-items: center;
    justify-content: space-around;
}
#info1{
    display:flex;
    flex-direction: column;
    grid-column:1/4;
    grid-row: 2/3;
    border: 1px solid var(--unnamed-color-35a9a9);
    background: transparent linear-gradient(180deg, #318B914D 0%, #37B1AF4D 17%, #4CD1C64D 36%, #80DFD24D 52%, #BCE8E14D 75%, #FFF2F24D 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #35A9A9;
    border-radius: 40px;
    width:70%;
    margin:auto;
    margin-top:1em;
}
section>div>#new{
    background: var(--unnamed-color-ffffff73) 0% 0% no-repeat padding-box;
    border: 2px solid var(--unnamed-color-ffffff);
    background: transparent linear-gradient(180deg, #318B914D 0%, #37B1AF4D 17%, #4CD1C64D 36%, #80DFD24D 52%, #BCE8E14D 75%, #FFF2F24D 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #35A9A9;
    border-radius: 40px;
    margin-left: 1em;
    text-align: center;
    letter-spacing: 0.7px;
    color: var(--unnamed-color-35a9a9);
    font: normal normal normal Rockwell Nova;
    color: #35A9A9;
    font-weight: bold;
    padding: 0.2em;
    width: 20%;
    height: 25%;
    padding-top: 1.2em;
}

#title{
    flex:0.5;
}
.profile{
    flex:5;
}
#data{
    display:flex;
    flex-direction: column;
}
section>#info1>p{
    color:grey;
    font-size:1.2em;
    text-align: center;
}
section>#info1>a{
    color:#35A9A9;
    font-size:1.5em;
    text-align: center;
    background-color:white;
    border: 2px solid #35A9A9;
    border-radius: 40px;
    width: 50%;
    margin:auto;
}
section>.button{
    color:#FFEB68;
    font-size:1.2em;
    text-align: center;
    background-color:#35A9A9;
    border: 2px solid #35A9A9;
    border-radius: 40px;
    width: 20%;
    margin: 1em auto;
    grid-column: 1/4;
}

@media only screen and (max-device-width: 500px) {
    section{
        display:flex;
        flex-direction: column;
    }
    #title>a{
        margin:auto
    }
    section>img{
        height: 40%;
        width: 60%;
        margin: auto;
        margin-top: 2em;
    }
    #info{
        display:grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
    }
    section>div>.button{
        padding: 0.5em;
        width: 70%;
        height: 50%;
        margin:auto;
    }
    section>#info>a{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    textarea, section>div>div>input{
        font-size: 3em;
        margin:auto;

    }
    section>#info1>a, section>#info1>#data>a{
        font-size: 3em;
        margin-top:0.5em;
        text-align: center;
    }
    section>#info1>#data>p, label{
        font-size:2em;
    }
    section>div>div>.button{
        width: 50%;

    }
    #social>a{
        font-size: 2em;

    }
}

