body {
    margin: 0;
    height: 99.9vh;
}
.base-container{
    display:flex;
    align-items: center;
    justify-content:flex-start;
    height: 100%;
}
nav{
    width:20vw;
    height: 100%;
    border: 1px solid var(--unnamed-color-707070);
    background: transparent linear-gradient(180deg, #318B91 0%, #37B1AF 17%, #4CD1C6 36%, #80DFD2 52%, #FFF2F2 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 0px 40px 40px 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}
main{
    width: 80vw;
    height: 100%;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
}
nav>img{
    width: 80%;
    margin:1em auto;
}
a{
    text-decoration: none;
    display: inline-block;
    line-height: 2em;
}
li i {
    font-size: 2em;
    color:#35A9A9;
}

.button, nav>ul>li>form>button{
    background: var(--unnamed-color-ffffff73) 0% 0% no-repeat padding-box;
    border: 2px solid var(--unnamed-color-ffffff);
    background: #FFFFFF73 0% 0% no-repeat padding-box;
    border: 2px solid #FFEB68;
    border-radius: 40px;
    margin-left: 1em;
    text-align: center;
    letter-spacing: 0.7px;
    color: var(--unnamed-color-35a9a9);
    font: normal normal normal Rockwell Nova;
    color: #35A9A9;
    font-weight: bold;
    padding: 0.2em;
    width: 60%;
}

ul{
    list-style-type: none;
    height: 100%;
    margin: 0 auto;
    padding:0;
    width: 80%;
    position: relative;
}
li{
    text-align: left;
    margin-bottom: 0.9em;
}

li:last-child
{
    position:absolute;
    bottom: 0;
    width:100%;
    
}

.fa,.fas{
    width: 1em;
}

main{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
header{
    border-bottom: 1px solid gray;
    padding:1em 2em;
}

header>div{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
}

header>div>i{
    color:#35A9A9;
    background:transparent linear-gradient(180deg, #318B914D 0%, #37B1AF4D 17%, #4CD1C64D 36%, #80DFD24D 52%, #BCE8E14D 75%, #FFF2F24D 100%) 0% 0% no-repeat padding-box;
    border-radius: 50%; 
}

.serach-bar>input{
    border: 1px solid var(--unnamed-color-35a9a9);
    background: transparent linear-gradient(180deg, #318B914D 0%, #37B1AF4D 17%, #4CD1C64D 36%, #80DFD24D 52%, #BCE8E14D 75%, #FFF2F24D 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #35A9A9;
    border-radius: 40px;
    width: 50%;
    text-align: center;
    color: var(--unnamed-color-35a9a9);
    font: normal normal normal Rockwell Nova;
    letter-spacing: 0px;
    color: #35A9A9;
    box-sizing: border-box;
    font-size: 1.5em;
}
#title{
    flex:0.2;
    margin:auto;
}
#title>a, main>a{
    background: var(--unnamed-color-35a9a9) 0% 0% no-repeat padding-box;
    border: 2px solid var(--unnamed-color-ffffff);
    background: #35A9A9 0% 0% no-repeat padding-box;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    margin-left: 1em;
    text-align: center;
    letter-spacing: 0.7px;
    color: var(--unnamed-color-35a9a9);
    font: normal normal normal Rockwell Nova;
    color: #FFEB68;
    font-weight: bold;
    width:80%;
}
main>a{
    margin:auto;
    width:20%;
}

@media only screen and (max-device-width: 500px) {
    nav{
        width:40vw;
    }
    main{
        width: 60vw;
    }
    nav>img{
        margin:2em auto;

    }
    li i {
        font-size: 3em;
        color:#35A9A9;
    }
    .button{
        padding: 0.2em;
        height: 100%;
        width: 60%;
        font-size: 2em;
    }
    #title>a{
        font-size: 2em;
    }
    main>a, nav>ul>li>form>button{
        font-size:2em;
        width:50%;
    }
    li{
        margin-bottom: 3em;
    }
    .serach-bar>input{
        width: 60%;
        font-size: 3em;
    }
    nav>ul>li>a, nav>ul>li>form>button{
        margin:1.5em auto;
    }

}